<h2>Update Movie</h2>

<form action="/movies/{{oneMovie._id}}/edit" id="edit-movie" method="POST">

  <label for="title">Title:</label><br />
  <input
    type="text"
    id="title"
    size="25"
    name="title"
    value="{{oneMovie.title}}"
  /><br /><br />

  <label for="genre">Genre:</label><br />
  <input
    type="text"
    id="genre"
    size="25"
    name="genre"
    value="{{oneMovie.genre}}"
  /><br /><br />

  <label for="plot">Plot:</label><br />
  <textarea
    type="text"
    id="plot"
    rows="5"
    cols="50"
    name="plot"
  >{{oneMovie.plot}}</textarea><br /><br />

  <label for="cast">Cast:</label><br />

  <select name="cast" id="cast" style="width: 250px" multiple>
    {{#each celebrities}}
      <option value="{{this._id}}" {{this.selected}}>{{this.name}}</option>
    {{/each}}
  </select><br /><br />

  <button type="submit">Edit Movie</button>

</form>